.video-room {
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    height: 89vh;
}

.video-room iframe {
    width: 50vw;
    height: 70vh;
    margin: 10px;
}

.chat-box {
    background: black;
    color: white;
    width: 40vw;
    height: 80%;
    border-radius: 10px;
}

.chat-box h1 {
    color: black;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.center-chat-input {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}

.chat-input {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: rgb(29, 29, 29);
    padding: 9px;
    border-radius: 30px;

}

.chat-input:focus {
    outline: solid
}



.chat-input textarea {
    width: 90%;
    height: 30px;
    background: inherit;
    color: white;
    background-color: none;
    outline: none;
    border-width: 0px;
    resize: none;
    font-size: 14pt;
}

.chat-input textarea:focus {
    outline: none;
}

.chat-input button {
    height: 100%;
    color: white;
    background: transparent;
}