:root {
  --color-2: rgb(255, 255, 255);
  --color-1: rgb(250, 245, 245);
  --color-3: black;
  --color-4: rgb(21, 160, 28);
  --color-5: rgb(132, 110, 184);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
}